body {
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
}

header {
  background-color: blue;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.nav-left {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.nav-right {
  display: flex;
  width: 50%;
  justify-content: right;
}

nav a {
  text-decoration: none;
  color: white;
}
/* Banner */

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.banner-left {
  width: 50%;
}
h1 {
  color: white;
}

.banner-right {
  width: 50%;
}

.banner-right img {
  width: 100%;
}

main {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-row-gap: 20px; */
  grid-gap: 20px;
  justify-items: center;
}
.player {
  padding: 10px;
  box-shadow: 0 0 20px 7px lightgray;
}

.players img {
  width: 330px;
  height: 270px;
}

/* field */
.field {
  background-color: white;
  display: flex;
  flex-direction: row;
}
.field-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.field-text h1 {
  color: black;
}

.field-img {
  width: 50%;
}
.field img {
  width: 100%;
}
.logo{
 margin-top: 10px;
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.logo img{
    width: 100%;
    
}

.logo-sociallink{
    display: flex;
    justify-content: center;
}

.video{
    margin-top: 20px;
}


footer{
    margin: 20px;
    text-align: center;
}